<body>
    <div class="login-form">
        <form class="form" [formGroup]='form' (submit)='signUp()'>
            <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
            <h2 class="text-center">Sign Up</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" formControlName='name'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" formControlName='address'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" formControlName='phone'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" formControlName='email'>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName='password'>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]='!form.valid'>Sign Up</button>
            </div>
        </form>
        <p class="text-center"><a routerLink="/login">Already have an account? Login</a></p>
    </div>
</body>