<div class="cart product_list" *ngIf='isLoaded()'>
    <h1>Cart</h1>
    <div class="js_shop_list" *ngIf="products.length">
        <div class="js_cart_item row" *ngFor="let product of products">
            {{ product.name }}
            <button class="js_minus count-button" (click)="removeProductCount(product)">-</button>
            {{ product.count }}
            <button class="js_plus count-button" (click)="addProductCount(product)"
                [disabled]="!(product.count < product.available)">+</button>
            {{ product.price * product.count }}$
            <div class="c2 js_item_action">
                <button type="button" class="js_remove remove-button" (click)="removeItem(product)">REMOVE</button>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <b>Material: </b>{{getItem(materials, +product.material).material}}
                    </li>
                    <li>
                        <b>Size: </b>{{getItem(sizes, +product.size).size}}
                    </li>
                    <li>
                        <b>Type: </b>{{getItem(types, +product.type).type}}
                    </li>
                    <li>
                        <b>Color:</b> {{getItem(colors, +product.color).color}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <span *ngIf="products.length">Total Price: {{ totalPrice | number:'1.2-2' }}$</span>
    <span *ngIf="!products.length">Cart is empty</span>
    <span class="js_total"></span>
    <button *ngIf="products.length" routerLink='/checkout'>Checkout</button>
</div>


<div *ngIf='!isLoaded()'>
    loading...
</div>