<body>
    <div class="login-form">
        <div class="form">
            <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" [formControl]='emailControl' #email>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [formControl]='passwordControl' #password>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"  (click)='login(email.value, password.value)'>Log in</button>
            </div>
        </div>
        <p class="text-center"><a routerLink="/register">Create an Account</a></p>
    </div>
</body>