<div class="page page__product" *ngIf='isLoaded()'>
    <div class="container">
        <div class="layout">
            <div class="content">
                <h1>Product List</h1>
                <div class="js_products_list product_list">
                    <app-product-card *ngFor="let product of products" [product]='product' [colors]='colors'
                        [types]='types' [sizes]='sizes' [materials]='materials'></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf='!isLoaded()'>
    loading...
</div>