<form class="form" [formGroup]="form" (submit)='addItem(product)'>
    <div class="js_product_item row">
        <div class="c5 js_item_text">
            {{ product.name }} -
            {{ product.price }}$
            <select name="material" id="material" formControlName='material'>
                <option [value]="material.id" *ngFor="let material of materials">{{ material.material }}</option>
            </select>
            <select name="color" id="color" formControlName='color'>
                <option [value]="color.id" *ngFor="let color of colors">{{ color.color }}</option>
            </select>
            <select name="type" id="type" formControlName='type'>
                <option [value]="type.id" *ngFor="let type of types">{{ type.type }}</option>
            </select>
            <select name="size" id="size" formControlName='size'>
                <option [value]="size.id" *ngFor="let size of sizes">{{ size.size }}</option>
            </select>
        </div>
        <div class="c2 js_item_action">
            <button type="submit" class="js_add add-button" [disabled]="product.available < 1">ADD</button>
        </div>
    </div>
</form>
<div class="alert alert-success" role="alert" *ngIf='showMsg'>
    {{ product.name }} - Successfully added to Cart!
</div>