<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
                </li>
            </div>
            <div>
                <li class="nav-item" *ngIf="isAuthed" (click)='logout()'>
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Logout</a>
                </li>
            </div>
        </ul>
    </div>
</nav>