<form class="form" [formGroup]="form" (submit)='createOrder()' *ngIf='isLoaded()'>
    <div class="js_product_item row">
        <div class="c5 js_item_text">
            <label for="payment">Choose payment</label>
            <select name="payment" id="payment" formControlName='payment'>
                <option [value]='payment.id' *ngFor='let payment of paymentMethods'>{{payment.name}}</option>
            </select>
            <label for="delivery">Choose delivery</label>
            <select name="delivery" id="delivery" formControlName='delivery'>
                <option value='1'>Nova Poshta</option>
            </select>
        </div>
        <div class="c2 js_item_action">
            <button type="submit" class="js_add add-button">Create Order</button>
        </div>
    </div>
</form>

<div *ngIf='!isLoaded()'>
    loading...
</div>