/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 5px;
    .row {
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }
}
.c5 {
    flex: 5;
}
.c2 {
    flex: 2;
}
.todo-wrap {
    max-width: 500px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.content h1 {
    margin: 0;
    padding: 0;
}
.cart {
    min-width: 300px;
    max-width: 300px;
    background: lightgray;
    padding: 0;
    text-align: center;
}
.product_list {
    border: 1px solid;
    padding: 10px;
}
.add-button {
    color: #fff;
    background: lightblue;
    transition: 0.3s;
    text-align: center;
    padding: 5px 4px;
    cursor: pointer;
}
.remove-button {
    color: #000;
    background: lightyellow;
    transition: 0.3s;
    text-align: center;
    padding: 5px 4px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
    div {
        display: flex;
    }
    .active {
        color: rebeccapurple !important;
    }
}

.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    .form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}
